body {
    font-family: medium;
    background-color: white;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: bolder;
}

.img-medium {
    height: 100px;
    width: auto;
}

.container {
   max-width: 1300px;
   margin: 0 auto;
   font-family: medium;
   padding-top: 60px;
   padding-left: 20px;
   padding-right: 20px;
}